@import 'default/default';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/logo_animate';

.wrap{
  @extend %position_relative;
  @include calc(height, 100vh - #{map-get($header, all)});
  width: 100vw;
  margin-top: map-get($header, all);
  text-align: center;
  padding: 1em .3em;
  overflow: hidden;
  
  &:before, &:after {
    @extend %position_absolute;
    content: '';
    height: 50vh;
    @include calc(top, 100vh - #{map-get($header, all)});
    left: 0px;
    background-color: rgba(215, 218, 225, 0.3);
  }

  &:before {
    @include animation(wrap-bg-show .5s .4s ease-in forwards);
    transform-origin: 0 0; 
    transform: rotateZ(-25deg);
  }

  &:after {
    @include animation(wrap-bg-show .6s ease-in forwards);
    transform-origin: 150vw 0;
    transform: translateX(-50vw) rotateZ(25deg);
  }

  > h1 {
    padding: 2em 0px 1em;
    letter-spacing: map-get($letter-spacing, l);
  }

  > p {
    line-height: 1.5;
    color: map-get($color, gray--dark);
    letter-spacing: map-get($letter-spacing, m);
  }

  span.text-1 {
    @extend %position_relative;
    @include animation(highlight-text-1 5s 2s ease-in infinite);
  }

  span.text-2 {
    @extend %position_relative;
    @include animation(highlight-text-2 5s 2s ease-in infinite);
  }
}

.hot-bar {
  width: 100vw;
  color: white;
  background-color: map-get($color, orange);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .8em .5em;
  z-index: 999;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  > a {
    margin-left: 1.3rem;
  }

  &.fixed {
    position: fixed;
    top: 0px;
    box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.25);
  }
}

.news-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  text-align: center;
}

.news-right {
  display: block;
  margin-top: 1em;
  text-align: left;
  padding-left: 1rem; 

  .news-right-title {
    position: relative;
    padding: 5px .3em;
    font-size: 1.3rem;
    font-weight: 400;

    &:after {
      content: '';
      position: absolute;
      width: 35%;
      height: 2px;
      left: 0px;
      bottom: 0px;
      background-color: map-get($color, orange);
    }
  }
}

.recommend-article {
  margin: 1em 0px 2em;
  cursor: pointer;
  > h3 {
    font-weight: 400;
    margin-bottom: .3em;
  }
  > p {
    font-size: .9rem;
    color: map-get($color, gray--dark);
  }
}

.news-left {
  width: 100%;
}

.news-section {
  text-align: left;
  margin-top: 4rem;
  color: map-get($color, gray--dark);

  > h3 {
    color: map-get($color, green);
    padding: .5em 1rem 0px 1rem;
  }

  .section-intro {
    padding: .2em 1rem;
  }
  
  .article {
    margin: 4em 0px;

    > h2 {
      @include transition(all .1s linear);
      margin: .5rem 0px;
      padding: 0px 1rem;
      cursor: pointer;
      font-weight: 400;
      color: map-get($color, orange);

      &:hover {
        opacity: .7;
      }
    }

    > p {
      padding: 0px 1rem 1rem;
    }
  }

  .article-img {
    @include transition(all .2s linear);
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 30vh;
    background: url(../img/index/news-section-1.png) no-repeat center top;
    box-shadow: inset 0px 0px 15px 2px;
  }
}

#img_population_num_report {
  background: url(../img/population/img_population_num_report.png) no-repeat center top;
  background-size: cover;
}
#img_population_xyz_report {
  background: url(../img/population/img_population_xyz_report.png) no-repeat center top;
  background-size: cover;
}
#img_disaster_report {
  background: url(../img/disaster/disaster_hero.jpg) no-repeat center 80%;
  background-size: cover;
}

.ui.list.list-box {
  > .item {
    color: map-get($color, black--default);

  }
}

@media (min-width: map-get($break-point, break-xs)) {
  .wrap {
    &:before {
      transform: rotateZ(-11deg);
    }
    &:after {
      transform: translateX(-50vw) rotateZ(11deg);
    }
  }

  .logo {
    width: 10vw;
    max-width: 282px;
  }

  .hot-bar {
    justify-content: space-around;
    padding: .3em 0px;
  }
    
  .news-container {
    flex-direction: row; 
  }
  .news-left {
    padding-left: 10vw;
  }

  .news-section {
    padding: 0px 3em 0px 1em;

    .article {
      > h2 {
        font-size: 1.5rem;
      }
    }

    .article-img {
      -webkit-filter: brightness(1.1) grayscale(1);
      filter: brightness(1.1) grayscale(1);

      &:hover {
        -webkit-filter: brightness(1) grayscale(0);
        filter: brightness(1) grayscale(0);
      }
    }
  }

  .news-right {
    order: 2;
    width: 30%;
    padding-right: 10vw;

    .news-right-title {
      margin: 4rem 0px 1.3em;
      &:after {
        width: 65%;
      }
      > i {
        color: map-get($color, gray--light);
      }
    }

    &.fixed {
      position: fixed;
      left: 70%;
      top: 2em;
    }
  }
  .collapse {
    display: block;
  }

  .news-left {
    order: 1;
    width: 70%;
  }
  .ui.button {
    font-size: .9rem;
  }

  .ui.list.list-box {
    margin: 2em 0px;
    font-size: .9rem;

    > .item {
      color: map-get($color, gray--light);
      &:hover {
        color: map-get($color, orange);        
      }
    }
  }
}

@include keyframes(wrap-bg-show) {
  from{ width: 0vw; }
  to{ width: 150vw; }
}

@include keyframes(highlight-text-1) {
  from {
    top: 0px;
  }

  10% {
    top: 0px;
  }

  13% {
    top: -3px;
  }

  16% {
    top: 0px;
  }

  to {
    top: 0px;
  }
}

@include keyframes(highlight-text-2) {
  from {
    top: 0px;
  }

  16% {
    top: 0px;
  }

  22% {
    top: -5px;
  }

  28% {
    top: 0px;
  }

  to {
    top: 0px;
  }
}