@import 'default/default';
@import 'partials/header';
@import 'partials/footer';
.node{
  rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: white;
    stroke-width: 1.5px;
    &.collapse-close {
      ~ text {
        fill: white;
      }
    }
    &:hover {
      ~ .collapse-mark {
        @include transition(all .3s ease-in);
        fill: white;
      }
    }
  }

  text {
    @include calc(font-size, #{$font-size--base} - 3px);
    font-family: sans-serif;
    pointer-events: none;

    &.collapse-mark {
      font-size: 1em;
      font-weight: bold;
    }
  }
}

path.link {
  fill: none;
  stroke: #ffeac3;
  stroke-width: 1.5px;
}

.chart-container {
  margin: 1em 0px 1em 1em ;
}
.detail-container {
  position: fixed;
  z-index: -1;
  opacity: 0;
  width: 25%;
  right: 10%;
  top: 30%;
  padding: 1.2em .7em;
  transform: scale(.1);
  background-color: rgba(152, 151, 151, 0.2);
  @include border-radius(20px);
  @include transition(all .3s ease-in);

  &.show {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }
}

#compare_106_105 {
  color: map-get($color, red);
  &.positive {
    color: map-get($color, green);
  }
}

.support-content {
  padding: .5em ;
  font-size: .8em;
  background-color: rgba(255, 255, 255, .8);
}

@include keyframes(bling-white){
  from,to{
    fill: #333;
  }
  
  50%{
    fill: white;
  }
}