@import 'default/default';
@import 'partials/header';
@import 'partials/footer';
.node{
  rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: .5;
    stroke: white;
    stroke-width: 1.5px;
    &.collapse-close {
      ~ text {
        fill: white;
      }
    }
    &:hover {
      ~ .collapse-mark {
        @include transition(all .3s ease-in);
        fill: white;
      }
    }
  }

  text {
    @include calc(font-size, #{$font-size--base} - 3px);
    font-family: sans-serif;
    pointer-events: none;

    &.collapse-mark {
      font-size: 1em;
      font-weight: bold;
    }
  }
}

path.link {
  fill: none;
  stroke: #ffeac3;
  stroke-width: 1.5px;
}

.chart-container {
  margin: 1em 0px 1em 1em ;
}
.detail-container {
  position: fixed !important;
  z-index: -1;
  opacity: 0;
  width: 100%;
  right: 0%;
  bottom: 0%;
  padding: 1.2em .7em;
  transform: scale(.1);
  color: map-get($color, black--default);
  background-color: rgba(152, 151, 151, 1);
  @include border-radius(20px);
  @include transition(all .3s ease-in);

  &.show {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }
}

.ui.segment {
  margin: 0px;
}

#compare_106_105 {
  color: map-get($color, red);
  &.positive {
    color: map-get($color, green);
  }
}

.support-content {
  color: map-get($color, black--default);
  padding: .5em ;
  font-size: .8em;
  background-color: rgba(255, 255, 255, .8);
}

.collapse-toggle.active {
  i {
    color: map-get($color, gray--dark);
  }
}

.report-section {
  margin: 1em 0px;
  padding: .5em .3em;

  > h2 {
    color: map-get($color, green);
    font-size: map-get($font-size, l);
    margin-bottom: .5em;
  }

  .report-section-intro {
    font-weight: bold;
    margin: .3em 1em;
  }

  .reference {
    margin: .3em 1em;
    color: map-get($color, gray--dark);
    &:hover {
      color: map-get($color, green);
    }
  }
}

@media (min-width: map-get($break-point, break-xs)) {
  .detail-container {
    width: 25%;
    right: 10%;
    top: 30%;
    bottom: auto;
    background-color: rgba(152, 151, 151, .2);
  }
  .ui.segment {
    margin: 1rem;
  }
}

@include keyframes(bling-white){
  from,to{
    fill: #333;
  }
  
  50%{
    fill: white;
  }
}