@import 'default/default';
@import 'partials/header';
@import 'partials/footer';


$mobile-media:768px;
.traffic-container {
	section {
    	margin-bottom: 8%;
  	}
  	.leaflet-control-attribution{
  		display: none;
  	}
  	.toggle.checkbox{
  		margin: 1% 0% 1% 0%;
  		input:checked ~ .box:before, 
  		input:checked ~ label:before {
   			 background-color: map-get($color, gray--dark)!important;
		}
		input:focus:checked ~ .box:before,
		input:focus:checked ~ label:before {
    		background-color: map-get($color, gray--dark) !important;
		}

  	}

  	.chart{
  		width: 100%;
  	}
	#accidentMap{
    	height: 450px;
	}
	#warning_area_checkbox{
		margin-left: 6%;
	}
	#linechart svg{
		height: 5%;
		width: 100%;
	}
	.axis{
		width: 95%;
	}
	.info {
	    padding: 6px 8px;
	    font: 14px/16px Arial, Helvetica, sans-serif;
	    background: white;
	    background: rgba(255,255,255,0.8);
	    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	    border-radius: 5px;
	}
	.legend {
    	line-height: 18px;
    	color: #555;
		i{
			width: 18px;
    		height: 18px;
    		float: left;
		    margin-right: 8px;
		    padding-top: 6px;
		    opacity: 0.7;
		}

	}
	#summerizeChart{
		width: 100%;
		height:400px;
	}
	#pieChartTable{
		width: 50%;
	}
	#chartHint{
		text-align:center;
		button,span{
			margin:auto;
			margin-top: 1%;
		}
	}

}

@media screen and (max-width: $mobile_media) {
	#chartHint{
		.hint{
			display:none;
		}
	}
	
}