@import 'default/default';
@import 'partials/header';
@import 'partials/footer';

.traffic-container {
	section {
    	margin-bottom: 100px;
  	}
  	
	#accidentMap{
		width: 100%;
    	height: 400px;
	}
	#summerizeChart{
		width: 100%;
		height:400px;
	}
	#pieChartTable{
		width: 50%;
	}
}