@import 'default/default';
@import 'partials/header';
@import 'partials/footer';

$mobile-media:768px;
$svg-size: 300px;
$tooltip-content-width: 210px;

// reset component
.mark-content {
  border-color: map-get($color, orange);
}
.traffic-container {
	section {
      margin-bottom: 6%;
  	}
  	.float_right{
  		float: right;
  		margin-right: 30%;
  	}
  	.leaflet-control-attribution{
  		display: none;
  	}
  	.toggle,.checkbox{
  		margin: 1% 0% 1% 1%;
  	}
  	#day_toggleCheckbox{
		input:checked ~ .box:before, 
  	input:checked ~ label:before {
   			 background-color: #ff6f69 !important;
   			 opacity: 0.7;
		}
		input:focus:checked ~ .box:before,
		input:focus:checked ~ label:before {
    		background-color: #ff6f69  !important;
    		opacity: 0.7;
		}

  	}
  	#nigiht_toggleCheckbox{
		input:checked ~ .box:before, 
  		input:checked ~ label:before {
   			 background-color: #265665 !important;
   			 opacity: 0.7;
		}
		input:focus:checked ~ .box:before,
		input:focus:checked ~ label:before {
    		background-color: #265665 !important;
    		opacity: 0.7;
		}

  	}

  	.chart{
  		width: 100%;
  	}
	#accidentMap{
    	height: 450px;
	}
	#warning_area_checkbox{
		margin-left: 6%;
	}
	#linechart svg{
		height: 5%;
		width: 100%;
	}
	.axis{
		width: 95%;
	}
	.info {
	    padding: 6px 8px;
	    font: 14px/16px Arial, Helvetica, sans-serif;
	    background: white;
	    background: rgba(255,255,255,0.8);
	    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	    border-radius: 5px;
	}
	.legend {
    	line-height: 18px;
    	color: #555;
		i{
			width: 18px;
    		height: 18px;
    		float: left;
		    margin-right: 8px;
		    padding-top: 6px;
		    opacity: 0.7;
		}

	}
	#summerizeChart{
		width: 100%;
		height:400px;
	}
	#pieChartTable{
		width: 50%;
	}
	#chartHint{
		text-align:center;
		button,span{
			margin:auto;
			margin-top: 1%;
		}
    button{
      margin:1% 2% 0% 2%;
    }
	}
}

@media screen and (max-width: map-get($break-point, break-xs)){
	#chartHint{
		.hint{
			display:none;
		}
	}
  #accidentMap{
      height: 250px;
  }
}


.title{
	font-size: 20px;
}
.pie-section{
  	width: 600px;
  	position: relative;
}
.tooltip {
    color: #333;
    width: $tooltip-content-width;

    display: none;
    font-size: 16px;
    left: 50px;
    top: 92px;
    padding: 10px;
    position: absolute;
    text-align: center;
    z-index: 999;
}
.tooltip-title{
	font-size: 20px;
	margin: 0;
}   
.title-line{
	height: 3px;
	width: $tooltip-content-width - 80;
	background-color: lighten(gray, 30%);
	margin: 8px auto;
}         
.legend{
	font-size: 12px;
}
rect{
	stroke-width: 2;
}
.graph-desc{
	width: 350px;
	padding: 5px;
	margin: 20px auto 0 auto;
	border-top: 1px solid lighten(gray, 30%);
	border-bottom: 1px solid lighten(gray, 30%);
	text-align: center;
	font-size: 15px;
}
.pie-graph-comment{
	margin-top: 20px;
}
.total-content{
	margin: 50px 0 200px 0;
}