@import 'default/default';
@import 'partials/header';
@import 'partials/footer';

$title-color: #333;
$background-color: #F1F1F1;
$container-color: #fff;

#footer {
    text-align:center;
}

#groundWater {
  width: 50%;
  height: 500px;
  transform:translateX(50%);
}


#siteMap, #groundWater {
  width: 50%;
  height: 500px;
  transform:translateX(50%);
}


#RiverMap {
  width: 100%;
  height: 500px;
}

.riverInfo, .siteInfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    h4 {
        margin: 0 0 5px;
        color: #777;
    }
}

.legend {
    line-height: 18px;
    color: #555;
    i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
}

.rainInfo {
  display: none;
}

.info {
  position: absolute;
  height: auto;
  weight: auto;
  font-size: 14px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
}

#info {
  margin: 0.5em;
}

.conclusion {
  background-color: rgba(33, 150, 243, .15);
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

// leaflet-bottom
.leaflet-bottom {
  z-index: 999;
}