.report-container {
  border: solid .5px map-get($color, gray--dark);
  
  .report-line {
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: map-get($color, gray--light);
    box-shadow: 0px 2px 1px 0px rgba(215, 218, 225, 0.5);
  }
}

.report-top-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: map-get($color, gray--dark);
  padding: 1em 5px;

  .report-left {
    order: 2;

    > img {
      width: 40%;
      margin: auto;
    }

    > p:nth-child(2) {
      margin-top: 2em;
    }
  }

  .report-title {
    order: 1;
    color: map-get($color, black--default);
    font-size: map-get($font-size, xl);
  }

  .report-right {
    order: 3;
  }

  p {
    margin: 0px 1em;
    font-size: .8em;
  }
}

.report-section {
  margin: 1em 0px;
  padding: .5em .3em;

  > h2 {
    color: map-get($color, green);
    font-size: map-get($font-size, l);
    margin-bottom: .5em;
  }

  .report-section-intro {
    font-weight: bold;
    margin: .3em 1em;
  }

  .reference {
    margin: .3em 1em;
    color: map-get($color, gray--dark);
    &:hover {
      color: map-get($color, green);
    }
  }
}
  
.report-basic {
  color: map-get($color, gray--dark);
  padding: 1em 2em;
  text-align: left;
  > p {
    line-height: 1.5;
  }

  .content {
    > p {
      line-height: 2;
      margin-bottom: 2em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    margin: 2em 0px;
    padding: 1em;
    color: map-get($color, black--default);
    background-color: rgba(215, 218, 225, .2);
  }
  
  .conclusion {
    background-color: rgba(255, 203, 9, .2);
  }
}

.table-container {
  .container {
    @include scrollbars(.5em, 0px, map-get($color, green), rgba(0,0,0,.3));
    display: none;
    max-height: 60vh;
    overflow: scroll;

    &.active {
      @include animation(hideShow .2s linear);
      display: block;
      border-top: dashed 2px rgba(128, 128, 128, 0.4);
      border-bottom: dashed 2px rgba(128, 128, 128, 0.4);

      .table-data{
        &.highlight{
          font-weight: bold;
          line-height: 2;
          &:last-child {
            margin-bottom: 1em;        
          }
        }
        &.red {
          color: map-get($color, red);
        }
      }
    }
  }

  .table-cell{
    @extend %position_relative;
    text-align: center;
    padding: .2em 0px .1em;

    &:first-child {
      margin: 1em 0px;
    }
  }

  .table-data {
    &.tainan {
      font-weight: bold;
      line-height: 2.5;
    }
  }
}

@media (min-width: map-get($break-point, break-xs)) {
  .area-map {
    display: flex;
    width: 100%;
  }

  .area-list {
    display: none;
  }

  .area-desktop-map {
    width: 60%;
  }

  .area-intro {
    width: 40%;
    height: 70vh;
    max-height: 600px;
    padding: 1em .5em;

    > .intro-area {
      margin-top: 4em;
    } 
  }
  
  .report-top-container {
    flex-direction: row;
    padding: 1em;
    .report-left {
      order: 1;

      > img {
        width: 75%;
        margin: 4em 0px 0px;
      }

      > p:nth-child(2) {
        margin-top: 1em;
      }
    }

    .report-title {
      order: 2;
      text-align: center;
    }

    .report-right {
      position: relative;
      align-self: center;
      top: 3em;
    }
  }

  .report-bottom-container {
    padding: .5em 2.5em;
  }

  .report-basic {

    .content {
      padding: .7em 1em;
      > p {
        margin-bottom: 1.3em;
      }
    }
  }

  .table-container {
    display: flex;

    .container {
      display: block;
      margin: 0px auto;
      padding: 1em;
      border-radius: 3px;

      &.active {
        background: rgba(255, 203, 104, 0.15);
      }
    }
  }
}