<header>
  <nav class="nav col-xs-12">
    <div class="main-header">
      <div class="logo-container" onclick="window.location.href='./index'"></div>
      <div class="m-menu-botton">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </div>

      <h3 class="nav-text">「用數據，探索台南。」</3>
    </div>
    <div class="sub-header">
      <a href="./population_num_report"><p>test1</p></a>
      <a href="javascript;"><p>test2</p></a>
      <a href="javascript;"><p>test3</p></a>
      <a href="javascript;"><p>test4</p></a>
    </div>
  </nav>
</header>