<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href = "./dist/css/contact-us.css">
</head>
<body>
  {{> header}}
  
  <section class="section main">
    <h1 class="title">大家好，我們是用數據看台灣！</h1>
    <p class="sub-title">- 我們都是很幸運很幸運的一群人 -</p>

    <section class="article">

      <div class="card">
        <div class="head-img"></div>
        <div class="content">
          <p>對我們有興趣的人們，歡迎聯絡 :))</p>
          <a href="mailto:contact@taiwanstat.com"><i class="mail icon"></i>: contact@taiwanstat.com</a>
          <a href="https://www.facebook.com/taiwanstat/" target="_blank"><i class="facebook f icon"></i>: 用數據看台灣</a>
        </div>
      </div>
    </section>
    

  </section>

  {{> footerGA}}
</body>
{{> inner_script}}

</html>