<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0px;">

<head>
  {{> head}}
  <title> {{title}} || 數字說話 Tainan</title>
  <link rel="stylesheet" href="./dist/css/index.css">
  <link rel="stylesheet" href="./dist/css/disaster.css">
  <link rel="stylesheet" href="./src/leaflet-control-geocoder/Control.Geocoder.css">
</head>

<body>
  {{> header}}
  <section class="section">
    {{> disaster}}
  </section>
  {{> footer}}
</body>
{{> inner_script}}
<script type="text/javascript" src="./src/leaflet-control-geocoder/Control.Geocoder.js"></script>
<script type="text/javascript" src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
<script type="text/javascript" src="./dist/js/disaster.js"></script>
</html>
