<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/index.css">
</head>
<body>
  {{> header}}

  <div class="wrap">
    <h1 class="color-red">一場以數據為核心的資訊號召</h1>
    <p>
      大家好，我們是用數據看台灣團隊。<br>這是一場有別於以往的<span class="color-red p-font-400 text-1">資訊號召</span>，一切都<span class="color-green p-font-600 text-2">讓數字來說話</span>。
    </p>
    {{> logo_animate}}
  </div>

  <div class="hot-bar">
    <a href="./population_xyz_report.html"><p>人口XYZ三元素</p></a>
    <a href="./population_num_report.html"><p>台南市人口診斷報告書</p></a>
    <!-- <a href="./water.html"><p>一杯水的故事</p></a> -->
    <!-- <a href="javascript;"><p>test3</p></a> -->
  </div>

  <section class="news-container">
    <div class="news-right">
      <a class="collapse-toggle" href="#context-box" data-id="context-box"><h3 class="news-right-title">最新文章<i class="angle right icon"></i></h3></a>
      <div id="context-box" class="collapse">
        <div class="recommend-article" onclick="window.location.href='./articles/article-tainanstat.html'">
          <h3>用數據看台南</h3>
          <p>5/22 - 6/22 || 這是一場為期一個月的資訊號召。</p>
        </div>

        <div class="ui button" onclick="window.open('https://goo.gl/NZMeqD')"><i class="write icon"></i>許願大聲公</div>

        <div class="ui animated list list-box">
          <a href="./let-data-speak.html" class="item">Let Data Speak!</a>
          <a href="./contact-us.html" class="item">聯絡我們</a>
          <a href="https://goo.gl/z40RBD" target="_blank" class="item">加入社團</a>
        </div>
      </div>

    </div>  
    <div class="news-left">
      <section id="population" class="news-section">
        <h3>人口</h3>
        <p class="section-intro">關於人口的知識，我們從小學就開始接觸。
        <br><br>還記得地理課本第一章永遠都是「人口」嗎？
        <br>了解社會的人口對於身為人類的我們來說相當重要，但長大之後，有多少人真正關心過自己居住地方的人口變化呢？
        </p>
        <article class="article">
          <div id="img_population_num_report" class="article-img" onclick="window.location.href='./population_num_report.html'"></div>
          <h2 onclick="window.location.href='./population_num_report.html'">台南市人口診斷報告書&nbsp;⟩</h2>
          <p>這是一份專為台南市量身打造的人口診斷書，當資料化身為手術刀，以台南市作為目標一探究竟，話不多說，你看到了什麼呢？...</p>
        <article>
        <article class="article">
          <div id="img_population_xyz_report" class="article-img" onclick="window.location.href='./population_xyz_report.html'"></div>
          <h2 onclick="window.location.href='./population_xyz_report.html'">台南市人口診斷報告書 - XYZ三元素&nbsp;⟩</h2>
          <p>加入了 XYZ三元素，這一份專為台南市量身打造的人口診斷書多了什麼樣的色彩呢？話不多說，告訴我你看到了什麼呢？...</p>
        <article>
      </section>

      <section id="disaster" class="news-section">
        <h3>災害</h3>
        <p class="section-intro">每當遇上地震、颱風、暴雨，你會不會擔心自己家園的安全呢？
        <br><br>
        台灣位處於自然災害頻繁的環境，儘管每每做好了準備，卻仍然有災情發生，這是台灣人民永遠的隱憂。
        </p>

        <article class="article">
          <div id="img_disaster_report" class="article-img" onclick="window.location.href='./disaster_report.html'"></div>
          <h2 onclick="window.location.href='./disaster_report.html'">台南災害潛勢地圖&nbsp;⟩</h2>
          <p>這次我們將以台南市政府公布的開放資料，製作台南的災害潛勢地圖，讓您知道家園是否有潛在的危機，同時，有什麼事是我們可以做的，去避免下一次的遺憾發生！</p>
        <article>
      </section>

      <section id="water" class="news-section">
        <h3>水源</h3>
        <p class="section-intro">你敢生飲自來水嗎？
        <br><br>
        大部分人的答案是否定的，但你知道其實根據台灣自來水公司公佈的數據，我們的自來水已經達到飲用標準水質了嗎？
        <br>
        我們對於自來水的不信任是來自於哪裡？環境？台水？抑或是我們自己呢？
        </p>

        <h4><敬請期待></h4>
      </section>

      <section id="traffic" class="news-section">
        <h3>交通</h3>
        <p class="section-intro">交通問題，是我們每天都會遇到的頭痛煩惱，其中車禍事件更是層出不窮。
        <br><br>
        2013年根據世界衛生組織統計，全球超過120萬人死於車禍，台灣的車禍死亡率遠高於日本、英國、德國等先進國家  ლ(ﾟдﾟლ) ?!
        <br>
        所謂『馬路如虎口』、『預防勝於治療，要保護自己，就要更了解環境』。我們是否了解我們所居住的周圍，哪些路段容易發生哪種類型的事故? 讓我們透過這次分享，來了解台南市中哪些路段可能有潛藏危機~~
        </p>

        <h4><敬請期待></h4>
      </section>

      <section id="money" class="news-section">
        <h3>財政</h3>
        <p class="section-intro">你有沒有好奇過整府把資源都投注到哪裡去了呢？
        <br><br>生活在國家這個體制下的我們，因為體制繳交了一部分屬於我們的財產供給國家，使我們的生活變得更好。既然無法改變體制，那麼至少我們也要知道並瞭解所貢獻的資源是否被有效的利用？ <br>
        這次我們挑選了幾筆跟台南市府有關的資料，一起來觀察人們口口聲聲說的資源被利用在哪裡？又有哪些是可以在改善的吧！
        </p>

        <h4><敬請期待></h4>
      </section>
    </div>
  </section>

  {{> footerGA}}
</body>

{{> inner_script}}
<script type="text/javascript" src = "./dist/js/index.js"></script>

</html>