<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;" onscroll="console.log('222');">
<head>
  {{> head}}

  <title> {{title}}</title>
  <link rel="stylesheet" href = "./dist/css/index.css">
</head>
<body>
  {{> header}}

  <div class="wrap">
    <h1 class="color-red">一場以數據為核心的資訊號召</h1>
    <p>
      大家好，我們是用數據看台灣團隊。<br>這是一場有別於以往的<span class="color-red p-font-400 text-1">資訊號召</span>，一切都<span class="color-green p-font-600 text-2">讓數字來說話</span>。
    </p>
    <div class="logo">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 152.1 95.2" style="enable-background:new 0 0 152.1 95.2;" xml:space="preserve">
      <g>
          <rect id="trigger-logo" x="0.5" y="0.5" style="stroke:#808080;stroke-miterlimit:10;" width="151.1" height="94.2"/>
        <g id="logo">
          <path id="logo-center" style="fill:#0ADA7F;" d="M75.2,19.5c-15.4,0-27.9,12.5-27.9,27.9s12.5,27.9,27.9,27.9
            s27.9-12.5,27.9-27.9S90.6,19.5,75.2,19.5z M75.2,60.3c-7.1,0-12.9-5.8-12.9-12.9s5.8-12.9,12.9-12.9c7.1,0,12.9,5.8,12.9,12.9
            S82.4,60.3,75.2,60.3z"/>
          <path id="logo-left" style="fill:#FFAA0A;" d="M37.6,47.4c0-12.1,7.7-26.3,18.6-30.2c0.9-0.3,0.7-1.6-0.3-1.6c0,0,0,0,0,0
            c-15.4,0-27.9,16.4-27.9,31.8s12.5,31,27.9,31c0,0,0,0,0,0c0.9,0,1.1-1.3,0.3-1.6C45.3,72.9,37.6,59.5,37.6,47.4z"/>
          <path id="logo-right" style="fill:#FFAA0A;" d="M114.5,47.8c0,12.1-7.7,26.3-18.6,30.2c-0.9,0.3-0.7,1.6,0.3,1.6c0,0,0,0,0,0
            c15.4,0,27.9-16.4,27.9-31.8s-12.5-31-27.9-31c0,0,0,0,0,0c-0.9,0-1.1,1.3-0.3,1.6C106.7,22.3,114.5,35.7,114.5,47.8z"/>
        </g>
      </g>
      </svg>
      <div class="shadow"></div>
    </div>
  </div>
  
  <div class="hot-bar">
    <a href="./population_num_report"><p>台南市人口診斷報告書</p></a>
    <a href="javascript;"><p>test2</p></a>
    <a href="javascript;"><p>test3</p></a>
    <a href="javascript;"><p>test4</p></a>
  </div>

  <section class="news-container">
    <div class="news-right">right</div>    
    <div class="news-left">left</div>
  </section>

  {{> footer}}
</body>

{{> inner_script}}
<script type="text/javascript" src = "./dist/js/index.js"></script>

</html>