<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href = "./dist/css/let-data-speak.css">
</head>
<body>
  {{> header}}

  <section class="section main">
    <h1 class="title">Let Data Speak</h1>
    <p class="sub-title">我們相信資料的價值，讓數字來說話。</p>
    <section class="article">
      <h3>這篇是隨筆小抒發...</h3>
      <p>用數據看台南其實象徵著我們一直在思考的一種想像。
      <br>我們曾經在粉專上發佈過兩篇對於未來想像的文章：</p>
      <ul>
        <li><a href="https://goo.gl/EY2c5B">想像未來，資料的世界</a></li>
        <li><a href="https://goo.gl/f4IWLh">致讀者，我們是用數據看台灣</a></li>
      </ul>
    </section>
    <section class="article">
      <h3 >資料的價值</h3>
      <p>在第一篇文的最後講到「資料早已充斥在我們的生活中，而我們卻毫無感覺。」
      <br>這是我們在執行用數據看台灣，進一步應用更多資料時的深刻體悟。當我們已經習慣於固定的生活模式與體制，就容易忽視那許多現象背後重要的資料，或者是習以為常的去接受它。好比現在最常用的 Google Map，誰都沒想到當年 Google 開始記錄地形的位置，把全世界都走過一遍以後，成功做出了 Google Map，成為現今最火紅的地圖應用軟體。</p>
      <p>開放資料亦是如此，對國家來說甚至等同於國家的歷史紀錄，記錄著這塊土地的一切。</p>
      <p>現階段，雖然台灣已連續兩年拿下世界第一的開放量程度，但資料的品質還不夠好。因此我們想號召大家一起參與、一起使用開放資料做更多的應用、一起告訴政府我們需要哪些資料、我們可以做出更有價值的應用。而在號召的同時也告訴人們這些你我都可以取得的資料是極有意義的存在，當大家同心協力更了解自己所處的這塊土地時，我們相信社會會變得更不一樣。</p>
      <p class="color-green">我們期許自己這次能帶給社會不一樣的作品，讓人們看到資料所說的價值。</p>
    </section>

    <section class="article">
      <h3>解讀圖表的過程</h3>
      <p>為了讓人們了解資料背後的意義，於是我們開始重視解讀圖表的過程。</p>
      <p>我們認為過去的作品幾乎已統計呈現為主，在沒有好的使用者互動或是指引之下，人們容易只注重圖表有趣的一面，或者是玩一玩圖表的功能（因此若是想要吸引人們注意，只要加入酷炫功能就好了XD）。
      <br>但這其實不符合我們做出圖表的本意，因為對我們來說，為什麼要選這個資料、要用這個方式呈現、要做這個主題，其實都是大有學問在裡頭。每一張不管是靜態、動態皆蘊含著獨特的意義在裡頭。有些甚至只是單純的知識傳遞，但卻是極為重要的資訊，而有些可以藉由網頁的靈活性看出許多現象的可能變因。</p>
      <p class="color-green">這次，我們把每篇報導定義為「解讀圖表的過程」，記錄著那些「資料的觀點」。</p>
    </section>

    <section class="article">
      <h3>我們還是學生，但同時我們也邀請你一同加入</h3>
      <p>說實話，在台灣當學生有好處也有壞處。
      <br>好處就是當你說你是學生的時候，做壞事永遠都可以被原諒，因為你還在「學」。
      <br>壞處就是當你說你是學生的時候，大多數大人們不會把你放在同一個水平，因為你還在「學」。</p>

      <p>今年是我們團隊脫離學生身份的最後一年了。當我們脫離學校的保護傘，一面對社會的壓力，那些曾經擁有改變社會的熱情、衝勁或許也將變得平庸。但也因為我們還是學生，所以現在可以肆無忌憚的大談夢想，這次就是想要在最後僅剩的一些時間裡抓住理想的尾巴，也希望我們所做的事能夠真正對社會產生幫助，或是號召到一群與我們志同道合的夥伴一起打拼。</p>

      <p>我們知道自己其實只是這巨大體制下一個小到不能再小的齒輪，但是我們都想為社會做一點什麼。不管是現在或是未來。
      <br>所以，我們在這邊也號召有志一同的朋友們一起加入我們（僅需業餘時間即可）。
      <br>（詳細的貢獻方式，我們也還在構思怎麼樣可以讓夥伴之間合作得更順利，若是有任何疑問或想法可以先<span class="link" onclick="window.open('https://www.facebook.com/taiwanstat/')">密粉專</span>，大家一同來討論。）</p>

      <p>若是你已經有覺悟，與我們一起走在貢獻自我這條艱難的路上
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1pI49rRG3k8tlkSJO8zNh1AGOYpr63CaUHkZucpU3VPN3Vw/viewform" target="_blank">【來跳坑囉】點這</a>
      </p>
    </section>

  </section>

  {{> footerGA}}
</body>

{{> inner_script}}

</html>