<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href = "./dist/css/money.css">
</head>
<body>
  {{> header}}
  
  <section class="section main">
    {{> money}}
  </section>

  <section class="section">
    <h3>小任務</h3>
    <p>小任務的目的是希望人們能夠藉由看完報導後反思與自身週遭的關係，並賦予大家一些小小的行動去體會其中的意義。</p>
    <div class="task-container">
      <h4>&lt;用心看台南></h4>
      <p>
      <span class="p-font-bold"></span></p>

      <p>為了促進大家討論小任務的內容，我們創了一個社團，並且之後也會把最新的消息公佈在裡頭。<br>我們誠摯地邀請對我們感興趣的你/妳加入社團: <span class="link p-font-bold" onclick="window.open('https://goo.gl/z40RBD')">加入社團（點擊加入社團）</span></p>

      <p class="color-gray--dark p-size-s">歡迎各位即將邁入社會的新鮮人、已經在社會中打滾的大師兄、脫離社會看破紅塵的前輩們去<span class="link p-font-bold">用數據看台灣公開社群</span>分享自己的看法</p>
    </div>
  </section>

  {{> footerGA}}
</body>

{{> inner_script}}
<script src="./src/d3-scale-radial.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
<script type="text/javascript" src = "./src/tablesort.js"></script>
<script type="text/javascript" src = "./dist/js/money.js"></script>
</html>