<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href = "./dist/css/population_xyz.css">
</head>
<body>
  {{> header}}

  <section class="section main">
    {{> population_xyz}}
  </section>

  <section class="section">
    <h3>小任務</h3>
    <p>小任務的目的是希望人們能夠藉由看完報導後反思與自身週遭的關係，並賦予大家一些小小的行動去體會其中的意義。</p>
    <div class="task-container">
      <h4><人的變化></h4>
      <p>說明：上一篇看完了台南市人口的概況，說實話或許與自身的連結性少了一點，因為這都屬於一個大城市的變化。但是這次深入分析了性別、年齡、變化狀況，我們看出許多有趣的現象，其中最需要注意的無不外乎是老年人口的增長吧。<br>想到老人，我們就會想到在其身上流逝的痕跡，人的一生因為有各個獨特的階段，才有現在每個老人身上那些屬於他人生的智慧結晶，甚至象徵著家族的歷史、時代的興盛。</p>
      <p><span class="p-font-bold">不知道你有沒有曾經了解自己的「家」的人口歷史狀況呢？這一次想請大家找尋家中的一個長輩，花個簡短的 20 分鐘與長輩聊聊他的人生或是屬於自己家族的歷史脈絡吧！（我們是誰？從哪裡來？甚至是有沒有「族譜」呢？ ^^）</span>若是願意的話歡迎到用數據看台灣公開社群當中與大家分享自己的心得</p>

      <p>為了促進大家討論小任務的內容，我們創了一個社團，並且之後也會把最新的消息公佈在裡頭。<br>我們誠摯地邀請對我們感興趣的你/妳加入社團: <span class="link p-font-bold" onclick="window.open('https://goo.gl/z40RBD')">加入社團（點擊加入社團）</span></p>

      <p class="color-gray--dark p-size-s">歡迎各位即將邁入社會的新鮮人、已經在社會中打滾的大師兄、脫離社會看破紅塵的前輩們去<span class="link p-font-bold">用數據看台灣公開社群</span>分享自己的看法</p>
    </div>
  </section>

  {{> footerGA}}
</body>

<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
{{> inner_script}}
<script type="text/javascript" src="https://d3js.org/topojson.v1.min.js"></script>
<script type="text/javascript" src = "./dist/js/population_xyz.js"></script>
</html>