<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0px;">

<head>
  {{> head}}
  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href="./dist/css/traffic.css">
  <link rel="stylesheet" href="./src/leaflet-control-geocoder/Control.Geocoder.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" data-semver="3.0.1" data-require="normalize@*" />
</head>

<body>
  {{> header}}
  <section class="section main">
    {{> traffic}}
  </section>
  {{> footerGA}}
</body>
{{> inner_script}}
<script type="text/javascript" src="./src/leaflet-control-geocoder/Control.Geocoder.js"></script>
<script type="text/javascript" src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
<<<<<<< HEAD
<script src="https://d3js.org/d3.v4.min.js"></script>
=======
<script src="http://d3js.org/d3.v3.min.js"></script>
<script data-require="d3@*" data-semver="3.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
>>>>>>> de683aab788ced54178e9ff54eedcb3011850e8f
<script type="text/javascript" src="./dist/js/traffic.js"></script>
</html>
