<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0px;">

<head>
  {{> head}}
  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href="./dist/css/traffic.css">
  <link rel="stylesheet" href="./src/leaflet-control-geocoder/Control.Geocoder.css">
</head>

<body>
  {{> header}}
  <section class="section main">
    {{> traffic}}
  </section>
  <section class="section">
    <h3>小任務</h3>
    <p>小任務的目的是希望人們能夠藉由看完報導後反思與自身週遭的關係，並賦予大家一些小小的行動去體會其中的意義。</p>
    <div class="task-container">
      <h4>&lt;出發吧! 道路安全靠自己></h4>
      <p>說明：閱讀完文中的分析後，是否有對台南的交通狀況有更進一步了解了呢?
      <br>WHO秘書長陳馮富珍曾說過：「 <span class="p-font-bold">道路交通事故並不是意外，大家不應該認為車禍無可避免。</span> 」，對於危險我們不應毫無警惕，而是該事先防備。<br>
      <br><span class="p-font-bold">此篇小任務希望大家在外行走時，能觀察一下你一天看到幾次違規事項、而最常見的違規事項是哪個、最常看到違規的路段有哪些，藉此瞭解平時行經各個路段的行車安全程度。</span>歡迎你將你的小任務發現或是對台南交通的心得感想分享到用數據看台灣的社團，希望能藉由大家的分享讓所有人更了解台南交通狀況。
      </p>

      <p>為了促進大家討論小任務的內容，我們創了一個社團，並且之後也會把最新的消息公佈在裡頭。<br>我們誠摯地邀請對我們感興趣的你/妳加入社團: <span class="link p-font-bold" onclick="window.open('https://goo.gl/z40RBD')">加入社團（點擊加入社團）</span></p>

      <p class="color-gray--dark p-size-s">歡迎各位即將邁入社會的新鮮人、已經在社會中打滾的大師兄、脫離社會看破紅塵的前輩們去<span class="link p-font-bold">用數據看台灣公開社群</span>分享自己的看法</p>
    </div>
  </section>
  {{> footerGA}}
</body>
{{> inner_script}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAomFU0EOdQlbI0KhLUIUxJqLQ81tZIgZE&libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
<script type="text/javascript" src="./src/leaflet-control-geocoder/Control.Geocoder.js"></script>
<script type="text/javascript" src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="./dist/js/traffic.js"></script>

</html>
