<!DOCTYPE html>
<html style="height:100%;width:100%;margin:0px;">

<head>
  {{> head}}
  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href="./dist/css/traffic.css">
  <link rel="stylesheet" href="./src/leaflet-control-geocoder/Control.Geocoder.css">
</head>

<body>
  {{> header}}
  <section class="section main">
    {{> traffic}}
  </section>
  <section class="section">
    <h3>小任務</h3>
    <p>小任務的目的是希望人們能夠藉由看完報導後反思與自身週遭的關係，並賦予大家一些小小的行動去體會其中的意義。</p>
    <div class="task-container">
      <h4>&lt;出發吧不要問那路在哪></h4>
      <p>說明：閱讀完文中的分析後，是否對台南的交通狀況更了解呢了？
      <br>WHO秘書長陳馮富珍曾說過：「 <span class="p-font-bold">道路交通事故並不是意外，大家不應該認為車禍無可避免。</span> 」，對於危險我們不應毫無警惕，而是該事先防備。
      <br>此篇小任務為藉著觀察台南路況來了解常發生違規事故的路段，可比較是否與本文的分析符合，同時也能知道周圍哪些路段行經時應注意小心！觀察路況時有任何發現，歡迎到用數據看台灣的社團，將你的發現分享給大家！
      <br><br>防患未然更勝於亡羊補勞，讓大家了解週遭的路況，別因一時的疏忽而造成遺憾！
      </p>

      <p>為了促進大家討論小任務的內容，我們創了一個社團，並且之後也會把最新的消息公佈在裡頭。<br>我們誠摯地邀請對我們感興趣的你/妳加入社團: <span class="link p-font-bold" onclick="window.open('https://goo.gl/z40RBD')">加入社團（點擊加入社團）</span></p>

      <p class="color-gray--dark p-size-s">歡迎各位即將邁入社會的新鮮人、已經在社會中打滾的大師兄、脫離社會看破紅塵的前輩們去<span class="link p-font-bold">用數據看台灣公開社群</span>分享自己的看法</p>
    </div>
  </section>
  {{> footerGA}}
</body>
{{> inner_script}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAomFU0EOdQlbI0KhLUIUxJqLQ81tZIgZE&libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
<script type="text/javascript" src="./src/leaflet-control-geocoder/Control.Geocoder.js"></script>
<script type="text/javascript" src="https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="./dist/js/traffic.js"></script>

</html>
