<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  {{> head}}

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href="./src/leaflet-extra/leaflet.extra-markers.min.css">

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link rel="stylesheet" href = "./dist/css/water.css">
  <link rel='stylesheet' href = './src/font-awesome-4.7.0/css/font-awesome.min.css'>
</head>
<body>
  {{> header}}

  <section class="section main">
    {{> water}}
  </section>

  <section class="section">
    <h3>小任務</h3>
    <p>小任務的目的是希望人們能夠藉由看完報導後反思與自身週遭的關係，並賦予大家一些小小的行動去體會其中的意義。</p>
    <div class="task-container">
      <h4>&lt;沒事多喝水，自己的水質自己驗></h4>
      <hr size="1">
      <p>說明：看完整篇報導後，相信大家更了解週遭的水資源處境。
      <br><br>而最後，我們希望大家可以主動了解自己喝的水的水質！
      <br>希望大家能夠<span class="p-font-bold">嘗試了解自己喝的水的水質</span>：
      <br>如果是自來水，請查查看住家負責的自來水淨水廠水質資訊<a href="#siteMap" class="link p-font-bold"  >(疑？剛剛的報導中好像就有工具呢！)</a>
      <br>一般加水站的水，可以嘗試看看加水站是否有標示類似的水質資訊！
      <br>地下水則可以透過一般市面上販售的水質檢測棒喔！
      <br>假如看不懂資訊標示，也可以拍照上傳到fb回應，由我們來幫你比對檢查！
      <br>比對完成後，可以順便分享進行小任務後的心得！
      </p>

      <p>為了促進大家討論小任務的內容，我們創了一個社團，並且之後也會把最新的消息公佈在裡頭。<br>我們誠摯地邀請對我們感興趣的你/妳加入社團: <span class="link p-font-bold" onclick="window.open('https://goo.gl/z40RBD')">加入社團（點擊加入社團）</span></p>

      <p class="color-gray--dark p-size-s">歡迎各位即將邁入社會的新鮮人、已經在社會中打滾的大師兄、脫離社會看破紅塵的前輩們去<span class="link p-font-bold">用數據看台灣公開社群</span>分享自己的看法</p>
    </div>
  </section>
  {{> footerGA}}
</body>

{{> inner_script}}
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.20/src/jquery.ez-plus.js"></script>
<script type="text/javascript" src="./src/jquery.ripples-min.js"></script>
<script type="text/javascript" src="http://
maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
<script type="text/javascript" src="./src/leaflet-extra/leaflet.extra-markers.min.js"></script>
<script type="text/javascript" src="./src/jquery.csv.min.js"></script>
<script type="text/javascript" src="https://d3js.org/topojson.v1.min.js"></script>
<script type="text/javascript" src = "./dist/js/water.js"></script>
</html>
