<h1>106台南市預算圖表</h1>
<p class="p-font-bold intro-text">單位：新台幣千元</p>
<div class="chart-container">
  <h3 class="ui header">歲入概況（預計年度收入）</h3>
  <p>歲入：政府一會計年度內為支應前項支出計畫所籌措之收入，為歲入，但<span class="p-font-bold">不包括債務之舉借及以前年度歲計賸餘之移用</span>。</p>
  <svg id="svg-annual-income" width="80%"></svg>
</div>
<div class="chart-container">
  <h3 class="ui header">歲出概況（預計年度支出）</h3>
  <p>歲出：政府一會計年度內為推行各項政務之一切支出計畫，為歲出，但<span class="p-font-bold">不包括債務之償還。</span></p>
  <svg id="svg-annual-expenditure" width="80%"></svg>
</div>
<div class="chart-container">
  <h3 class="ui header">人民的負債？</h3>
  <p class="mark-content color-gray--dark">歲入與歲出皆不包括政府的債務之償還以及舉債所借款。
  </p>
  <p>但真正的收入是包括政府債務之舉借及以前年度歲計賸餘之移用，視為收入。而支出是連同政府債務之償還，視為支出。
    <br>
    <span class="p-font-bold">據統計，台南市政府106年總預計收入約共1150億，歲入合計共741億，預計舉債409億新台幣。</span></p>
  <div class="ui message">
    <h4 class="ui sub header collapse-toggle rule-trigger" href="#message-content-1" data-id="message-content-1"><i class="search icon"></i>為什麼政府需要借錢？</h4>
    <div id="message-content-1" class="collapse">
      <p>當景氣不好時，政府為了刺激民間經濟成長，必須擴大財政支出，規畫許多建設方案，例如造橋鋪路，增加就業機會及資金流動。但這些建設方案往往花費龐大，必須靠發行國家債券來籌募，讓其他國家、銀行或法人組織以現金購買，政府再以二十年或三十年為期限，慢慢還清債務，這就是所謂的公債。</p>
      <p>而公債也可以比喻為信用卡購物，一般家庭每月收入如果只有八萬元，卻想買一輛八十萬元的新車，就必須刷信用卡貸款買車，這種行為也被稱為「舉債」。政府「舉債」可能是為了建設新的辦公大樓、修建新橋梁，或是其他公共事務，<span class="p-font-bold">是一種彌補收支不平衡的財政手段。</span></p>
    </div>
  </div>
  <h4>截至106年5月底，台南市人民平均每人負擔債務 3萬4797元。</h4>
  <p>105年，各縣市債務一覽表。</p>
  <table class="ui compact basic table small sortable">
    <thead>
      <tr>
        <th>縣市</th>
        <th class="sortByValue sorted ascending right aligned">負債（億元）</th>
        <th class="sortByValue right aligned">每人平均負債（萬元）</th>
      </tr>
    </thead>
    <tbody class="right aligned">
      <tr>
        <td>高雄市</td>
        <td>2539</td>
        <td>9.14</td>
      </tr>
      <tr>
        <td>台北市</td>
        <td>1403</td>
        <td>5.2</td>
      </tr>
      <tr>
        <td>新北市</td>
        <td>1138</td>
        <td>2.87</td>
      </tr>
      <tr>
        <td>台南市</td>
        <td>716.37</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>台中市</td>
        <td>648.6</td>
        <td>2.4</td>
      </tr>
      <tr>
        <td>苗栗縣</td>
        <td>397</td>
        <td>7</td>
      </tr>
      <tr>
        <td>雲林縣</td>
        <td>249</td>
        <td>3.5</td>
      </tr>
      <tr>
        <td>屏東縣</td>
        <td>234.74</td>
        <td>2.8</td>
      </tr>
      <tr>
        <td>宜蘭縣</td>
        <td>229.94</td>
        <td>5.01</td>
      </tr>
      <tr>
        <td>新竹縣</td>
        <td>219</td>
        <td>4.1</td>
      </tr>
      <tr>
        <td>桃園市</td>
        <td>216</td>
        <td>1.04</td>
      </tr>
      <tr>
        <td>彰化縣</td>
        <td>214</td>
        <td>1.7</td>
      </tr>
      <tr>
        <td>嘉義縣</td>
        <td>202.38</td>
        <td>3.88</td>
      </tr>
      <tr>
        <td>南投縣</td>
        <td>157.02</td>
        <td>3.07</td>
      </tr>
      <tr>
        <td>新竹市</td>
        <td>122.5</td>
        <td>2.8</td>
      </tr>
      <tr>
        <td>花蓮縣</td>
        <td>120.4</td>
        <td>3.62</td>
      </tr>
      <tr>
        <td>基隆市</td>
        <td>97.07</td>
        <td>2.6</td>
      </tr>
      <tr>
        <td>台東縣</td>
        <td>74.42</td>
        <td>3.3</td>
      </tr>
      <tr>
        <td>澎湖縣</td>
        <td>20.7</td>
        <td>2.03</td>
      </tr>
      <tr>
        <td>嘉義市</td>
        <td>10</td>
        <td>0.4</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="detail-container">
  <h4><span id="item">歲入收入</span></h4>
  <p>本年度預算: <span id="budget_106"></span> &nbsp;&nbsp;<span id="compare_106_105"></span></p>
  <p>去年度預算: <span id="budget_105"></span> </p>
  <p>前年度決算: <span id="final_accounts_104"></span></p>
  <div class="support-content">
    <p>106年預算約等於 <span id="change-num-description">100杯珍珠奶茶</span> </p>
    <p>佔母項目 <span id="percentParent"></span> %，總預算的 <span id="percentAll"></span> %
      <br>展開後還有 <span id="children"></span> 個子類別</p>
  </div>
</div>
<!-- fb -->
<div class="fb-share-button" data-href="{{chart_description.href}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.taiwanstat.com%2F&amp;src=sdkpreparse">Share</a></div>
