<h1>106台南市預算圖表</h1>
<p class="p-font-bold intro-text">單位：新台幣千元</p>
<div class="chart-container">
  <h3 class="ui sub header">歲入概況（預計年度收入）</h3>
  <svg id="svg-annual-income" width="80%"></svg>
</div>
<div class="chart-container">
  <h3 class="ui sub header">歲出概況（預計年度支出）</h3>
  <svg id="svg-annual-expenditure" width="80%"></svg>
</div>

<div class="detail-container">
  <h4><span id="item">歲入收入</span></h4>
  <p>本年度預算: <span id="budget_106"></span> &nbsp;&nbsp;<span id="compare_106_105"></span></p>
  <p>去年度預算: <span id="budget_105"></span> </p>
  <p>前年度決算: <span id="final_accounts_104"></span></p>
  <div class="support-content">
    <p>106年預算約等於 <span id="change-num-description">100杯珍珠奶茶</span> </p>
    <p>佔母項目 <span id="percentParent"></span> %，總預算的 <span id="percentAll"></span> %
    <br>展開後還有 <span id="children"></span> 個子類別</p>
  </div>
</div>
