<div class="traffic-container">
  <h1 class="ui header">道路潛藏危機地圖</h1>
  <section>
    <p>引言</p>
    <p>台南的交通特性，比例</p>
    <p>汽機車比例</p>
    <div class="ui section divider"></div>
  </section>
  <section>
    <h1 class="ui header">台南交通事故大多都在哪?</h1>
    <div class="sub header">台南事故統計地圖</div>
    <div class="chart" id="accidentMap"></div>
    <div class="ui hidden divider"></div>
    <div class="" id="mapReport">

      <p>事故較密集發生區域</p>
      <p>1.</p>
      <p>2.</p>
      <p>3.</p>
    </div>
  </section>
  <section>
    <div class="chart" id="summerizeChart">
    </div>
    <div class="" id="chartReport">
    </div>
  </section>
</div>
