<div class="traffic-container">
  <h1 class="ui header">道路潛藏危機地圖</h1>
  <section>
    
    </p>
    <p title="交通數據">2016年的台南交通數據指出</p>
    <p>小客車每千人持有297.97台，六都第3，機車每千人持有679.66台，六都第2。</br>每十萬人道路交通事故死傷人數為1416.54，六都排名第4， 每件交通事故死傷人數1.36，六都排名第2。</p>
    <p title="引言">這些數據都提醒我們在行車時，記得要多保持警覺，才能安全回家。</br>
    俗話常說『馬路如虎口』，爸媽常說『開車騎車要小心，安全最重要』，</br>但是台南到底哪些路段比較常出現事故，或是這些路段都有什麼特性呢? 讓我們一起來看看吧!
    <div class="ui divider"></div>
  </section>
  <section>
    <h1 class="ui header">台南交通事故都在哪發生?</h1>
    <div class="sub header">台南事故、發生時間統計圖(資料時間：2016年6~8月)</div>
    <div class="toggle_container">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public" id="day_toggle" checked="unchecked">
        <label>白天 (5:00-17:00)</label>
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public" id="night_toggle" checked="checked">
        <label>晚上 (17:00-5:00)</label>
      </div>
      <div class="ui checkbox" >
        <input type="checkbox" name="warning_area" id ="warning_area_checkbox" checked="checked">
        <label>常發生事故路段(用<i class="circle icon yellow"></i>表示)</label>

      </div>
    <div class="chart" id="accidentMap"></div>
    <div class="chart" id="linechart"><svg  height="100"></svg></div>
    <div id="chartHint">
      <button class="ui left labeled icon button hourButton" id="minusHourButton">
        <i class="minus icon"></i>
        選取時間減少一小時
      </button>
      <span class="ui hint"><span class="ui p-font-bold">用灰色方框選取範圍</span>可看對應時間的事故點(統計單位：小時)</span>
      <button class="ui right labeled icon button hourButton" id="plusHourButton">
        <i class="plus icon"></i>
        選取時間增加一小時
      </button> 
    </div>
    <div class="ui hidden divider"></div>
    <div class="mapReport">
      <div class="ui message warning ">
        <div class="header">
          事故較密集發生區域 (地區/時間性)
        </div>
        <ul class="list">
          <li>復興路往國道一號交流道附近：白天、晚上</li>
          <li>西門圓環往民生路一段沿路：白天</li>
          <li>小東路與中華東路口：白天</li>
          <li>東門路二段 (與裕豐街交叉路口、與裕農路交叉路口)：白天</li>
          <li>民生綠園圓環(台灣文學館)：白天</li>
          <li>海安路一段與正興街路口：白天</li>
        </ul>
      </div>
      <h2>肇事原因排名</h2>
      <p>「未依規定讓車」5,185 件(占 24.09%)、 「未注意車前狀態」4,197 件(占 19.50%)、「違反號誌管制或指揮」 1,731 件(占 8.04%)、「左轉彎未依規定」1,489 件(占 6.92%)、「未保 持行車安全距離」972 件(占 4.52%)、「起步未注意其他車(人)安全」 918 件(占 4.27%)、「未保持行車安全間隔」845 件(占 3.97%)、「右轉 彎未依規定」632 件(占 2.94%)、「迴轉彎未依規定」」628 件(占 2.92%)、「變換車道或方向不當」557 件(占 2.59%)</p>
      <h2>肇事路段特性</h2>
      <p>「8-10 時」及「16-20 時」為上、下班尖峰時段, 會出現全日最高的車流量,</p>
      <h2>我的路權</h2>
      <p></p>
      </div>
    </div>
    </div>
  </section>
  <section>
    <div class="chart" id="accidentMap2"></div>
    <div class="" id="chartReport"></div>
  </section>
</div>
