<div class="traffic-container">
  <h1 class="ui header">道路潛藏危機地圖</h1>
  <section>
    <p title="引言"> 台南以『古都』的形象存在於我們的心中，交通配置上也沿襲了舊有時代發展的特色，有各種圓環。
    不過，在這樣以慢活、古蹟為名的城市，它的交通特性又是什麼樣子呢?  (要修)
    </p>
    <p title="汽機車比例">小客車每千人持有297.97台，六都第3，機車每千人持有679.66台，六都第2</p>
    <p title="事故相關數據"> 每十萬人道路交通事故死傷人數為1416.54，六都排名第4， 每件交通事故死傷人數1.36，六都排名第2</p>
    <div class="ui section divider"></div>
  </section>
  <section>
    <h1 class="ui header">台南交通事故大多都在哪?</h1>
    <div class="sub header">台南事故統計地圖(2016年6~8月)</div>
    <div class="toggle_container">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public" id="day_toggle" checked="unchecked">
        <label>白天 (5:00-17:00)</label>
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public" id="night_toggle" checked="checked">
        <label>晚上 (17:00-5:00)</label>
      </div>
    <div>
    <div class="chart" id="accidentMap"></div>
    <div class="ui hidden divider"></div>
    <div class="" id="mapReport">

      <p>事故較密集發生區域</p>
      <p>1.</p>
      <p>2.</p>
      <p>3.</p>
    </div>
  </section>
  <section>
  	<h1 class="title">台南舉發項目</h1>
		<div class="pie-section">
			<div class="pie-graph" id="pieChart"></div>
			<div class="graph-desc">2015年舉發違反道路交通管理事件成果</div>
		</div>
		<div class="pie-graph-comment">
			<p>由上圖可以看出，2015年台南舉發項目最高的前三名分別為
			違規停車(50.1%) 紅燈執行左轉(11.2%) 行車速度超速(8%)</p>
		</div>
    <div class="chart" id="summerizeChart">
      <table class="ui selectable celled table " id="pieChartTable">

        <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>John</td>
              <td>No Action</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="" id="chartReport">
    </div>


<!--     <div class="chart" id="summerizeChart">
      <table class="ui selectable celled table " id="pieChartTable">

        <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>John</td>
              <td>No Action</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="" id="chartReport">
    </div> -->
  </section>
</div>
