<div class="traffic-container">
  <h1 class="ui header">道路潛藏危機地圖</h1>
  <section>
    <p title="引言"> 台南以『古都』的形象存在於我們的心中，交通配置上也沿襲了舊有時代發展的特色，有各種圓環。
    不過，在這樣以慢活、古蹟為名的城市，它的交通特性又是什麼樣子呢?  (要修)
    </p>
    <p title="汽機車比例">小客車每千人持有297.97台，六都第3，機車每千人持有679.66台，六都第2</p>
    <p title="事故相關數據"> 每十萬人道路交通事故死傷人數為1416.54，六都排名第4， 每件交通事故死傷人數1.36，六都排名第2</p>
    <div class="ui section divider"></div>
  </section>
  <section>
    <h1 class="ui header">台南交通事故大多都在哪?</h1>
    <div class="sub header">台南事故統計地圖</div>
    <div class="chart" id="accidentMap"></div>
    <div class="ui hidden divider"></div>
    <div class="" id="mapReport">

      <p>事故較密集發生區域</p>
      <p>1.</p>
      <p>2.</p>
      <p>3.</p>
    </div>
  </section>
  <section>
    <div class="chart" id="summerizeChart">
      <svg class=""></svg>
      <table class="ui selectable celled table " id="pieChartTable">

        <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>John</td>
              <td>No Action</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Jamie</td>
              <td>Approved</td>
              <td>Requires call</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="" id="chartReport">
    </div>
  </section>
</div>
