<p class="intro-text">現在是2017年，距離政府成立水污染防治委員會已經50週年。<br>
讓我們一起從自來水、河川、雨水、地下水四種水的來源面向向您剖析台南的水污染問題。
</p>
<h1>我們的水出了什麼問題！？</h1>
<p class="color-gray--dark">1967年，當時的臺灣省政府成立「台灣省水污染防治委員會」。
<br>1970年，經濟部公佈《工廠廢水管理辦法》
<br>1974年，台灣通過施行《水污染防治法》
<br>1984年，台灣西南沿海發生大量養殖牡蠣綠化事件，是謂「綠牡蠣事件」
<br>1987年，行政院環保署成立
<br>1994年，發生「RCA桃園廠地下水污染事件」
<br>2002年，公告施行《土壤及地下水污染整治法》
<br>...
<br>
<p>地球有70%的地表被水覆蓋，但這麼多水中鹹水卻佔了大多數，只有3%是能夠被人類利用的淡水
<br>而這些相對稀少的「水資源」並不全用於民生，有些則是拿來作為工業、農業用水使用
<br>如此，該如何珍惜得來不易的水資源並防範水污染就是一大課題
<br>但即使台灣很早就有水污染防治的概念，卻為何還是發生了像是綠牡蠣事件這樣的污染情事呢?
<br>
<br>有鑑於此，我們準備了四大項目，從自來水、河水、雨水、地下水四種水、四種面向向您剖析水資源情況
<br><span class="p-font-bold">我們希望，透過知識的傳遞，以目前政府所公佈的「開放資料視覺化」，向大家簡介台南目前水資源的污染情況，期望大家一同重視這項議題。</span></p>

<p class="p-size-big p-font-bold color-blue">面對水污染，你準備好了嗎？</p></p>
<hr size="1">

<h3>自來水</h3>

<p class="p-size-big mark-content">「自來水是大眾最普遍的水源取得管道。」</p>

<p>一百多年前，劉銘傳在台北城內挖掘了三口公共井，這是台灣第一座公共供水系統。在此之前，台灣人民唯有透過自己鑿井或自河塘取水，相當不易。</p>
<p>1896年，剛接收台灣的日本人即委請英國人巴爾頓來台協助建設公共設施，協助完成台灣第一座自來水道「滬尾水道」，這也是台語中稱呼自來水為水道水的由來。</p>

<p>目前，<span class="p-font-bold">台灣地區的自來水供應主要由台灣自來水公司</span>負責（但特定區域如台北地區則由其他機構如台北自來水事業處負責）。<br>
業務上，台水公司將負責地區劃分為十二個區域，其中<span class="p-font-bold">台南位於第六區</span>。</p>

<p>以下顯示目前台南地區的淨水站及其負責區域（灰色代表資料缺失）</p>

<!-- siteMap -->
<div id="siteMap"></div>

<div class="conclusion">
  <p>這個圖中，我們可以看出，<span class="p-size-big p-font-bold">目前台南地區的淨水站水質其實都是合格的，也就是說依照標準<span class="link" onclick="window.open('http://www.water.gov.tw/ct.aspx?xItem=2278&ctNode=815&mp=1')">只要煮沸即可引用。</span></span></p>
  <p>
  其實台灣南部區域水質有一個特徵，那就是其硬度偏硬</span>，平均大約在150 mg/L左右。會導致口感較軟水不一樣外，但即使口感上不適應，因為這些水大多屬於<span class="link" onclick="window.open('https://zh.wikipedia.org/wiki/%E7%A1%AC%E6%B0%B4')">「暫時硬水」</span>，也可透過<span class="p-font-bold">煮沸</span>消除。</p>
</div>

<div class="support-hint">
  <p class="p-font-bold">暫時硬水v.s.永久硬水</p>

  <p>硬水分為兩種。
  <br>一種是<span class="p-font-bold">含有鈣鎂酸式碳酸鹽</span>的暫時硬水，另一種則是<span class="p-font-bold">含有鈣鎂硫酸鹽、氯化物</span>的永久硬水。
  <br>而硬度即為水中鈣鎂離子的濃度，通常會由水中的碳酸鈣含量表示
  <br>其中暫時硬水中的鈣鎂離子可以由<span class="p-font-bold">加熱</span>生成沉澱而除去
  </p>

  <a href="http://www.shs.edu.tw/works/essay/2010/11/2010111421065863.pdf" target="_blank">相關：軟水與硬水的差別。</a>
</div>

<h4>相關報導</h4>
<p>《自由時報》<a class="link" href="http://news.ltn.com.tw/news/local/paper/385709">(南部)水垢多有「飲」憂 水公司說安啦</a></p>
<p>《台灣自來水公司》<a class="link"  href="http://www6.water.gov.tw/ch2/02news/01-main.asp?no_g=6910">為台南市民的飲用水水源守護，守護曾文溪聯盟手牽手護水源</a></p>

<hr size="1">
<h3>河川</h3>
<p class="mark-content p-size-big">根據環保署的標準，河川水質以
<span class="color-blue">「水中溶氧量」、「生化需氧量」、「溶氧量」、「氨氣」四項參數的平均值</span>作為分級標準，我們稱此平均值為<span class="color-blue">河川污染程度標準(River Pollution Index，RPI)</span>
</p>
<p>RPI小於2是未(稍)受污染、介於2和3之間的是輕度污染、介於3至6的是是中度污染，而大於6者則是嚴重污染。</p>
<p>在1983年監測的主要21條河川中，嚴重污染只佔其中的5.7%，但是這個數字在1986年已經提昇至10.2%(參考1997年環境保護統計年報)。
</p>

<p>台南目前的主要河川流域有五大溪，分別是「急水溪、鹽水溪、二仁溪、曾文溪及八掌溪。」
<br>由於台南自古即為台灣南部地區人口密集處，在工商業快速發展下，導致台南的河川多受污染。</p>

<br>
<br>
<p class="p-font-bold">---- 在這裡舉1976年二仁溪當時的水質報告給大家檢查。 ----</p>
<a class="collapse-toggle" data-id="question-1">
我們可以看出依照<span class="link" onclick="window.open('http://wq.epa.gov.tw/Code/Business/Standard.aspx')">行政院河川水質檢定標準</span>為何喔？（點擊看答案）
</a>
<p id = "question-1" class="color-blue collapse">大約是輕度污染偏向中度污染。你看出來了嗎？
但是想一想現在是變乾淨？還是越變越髒了呢？</p>
<img class="img" src="../src/img/water/second_kinf_river.png">

<p>以下我們列出台灣南部的各河川水質，採用行政院環保署使用的<span class="p-font-bold">「河川污染程度標準」(RPI)</span>，來評估一條河川的水質污染程度
</p>

<div id="RiverMap">
    <div class="header">
        <i class="fa fa-refresh fa-2x" onclick="resetView()"></i>
        <i class="fa fa-compass fa-2x" onclick="getLocation()"></i>
        <!--<i class="fa fa-link fa-2x" onclick="toogleLinks()"></i>-->
    </div>
</div>
<div class="conclusion">
  <p class="p-font-bold">台南市民找找看！(點擊看答案）</p>
  <a class="collapse-toggle" data-id="question-zhen-wen">哪一條溪比較未受污染呢?</a>
  <p class="collapse color-blue" id="question-zhen-wen">曾文溪喔！</p>
  <br>
  為了解決這些河川污染問題，讓我們一起愛護河川！</p>
</div>

<h4>相關報導</h4>
<p>《自由時報》
<a class="link" href="http://news.ltn.com.tw/news/local/paper/1073501">(南部)三大污染河川 大減120公里</a></p>
<a class="link" href="http://news.ltn.com.tw/news/life/breakingnews/2007529">台南整治河川污染 鹽水溪成果最豐碩</a></p>

<p>《台南市環保局》<a class="link" href="http://www.tnepb.gov.tw/mode02.asp?m=201310301637181&t=sub">河川水質監測-成果展示</a></p>

<hr size="1">
<h3>雨水</h3>
<p class="mark-content p-size-big">「雨水是上天賜給我們的恩賜。」</p>
<p>雨水是水循環中重要的一節，台灣因為雨季不平均及河流短小等因素而使我們能夠使用的水資源不多，但因為身處亞熱帶氣候，季風及颱風所帶來的降水充沛，可以這麼說，雨水是上天給予我們的恩賜</p>

<p>但酸雨卻不一樣，酸雨又稱<span class="p-font-bold link" onclick="window.open('https://zh.wikipedia.org/wiki/%E9%85%B8%E9%9B%A8')">濕性酸性沉降</span>
</p>
<p>根據行政院環保署的定義，<span class="p-font-bold">酸雨是 pH 值小於 5.0 的降雨</span>，對於物質將產生腐蝕，像是溶解石頭中的物質或是傷及農作物，這可能造成有毒金屬被溶解而流入河流之中。<span class="p-font-bold">而嚴重時，酸雨更可能導致水生生物死亡、刺激人們皮膚。</span></p>

<p>我們由下表列出今年(2017年)台南地區酸雨測站檢測值</p>
<div id="container">
  <div id="column"></div>
  <div class="rainInfo support-hint color-blue" align="center">請點擊上圖</div>
</div>
<div class="conclusion">
  <p>此圖中，圈圈大小代表雨量大小。
  <p>除此之外，平均值看起來是合格的，算是很不錯的表現！
  <br>但大多數時候的降雨仍然是低於pH5以下的，所以建議大家在台南遇上下雨還是<span class="p-font-bold">備傘為妙</span>
  </p>
</div>

<h4>相關報導</h4>
<p>《中國時報》<a class="link" href="http://news.ltn.com.tw/news/life/breakingnews/1325375">台南酸雨含汞最高 ptt鄉民po「紅疹手」</a></p>
<p>《行政院環保署》<a class="link" href="http://acidrain.epa.gov.tw/now/04.htm">酸雨的現況</a></p>
<p>《用數據看台灣》<a class="link" href="https://www.taiwanstat.com/realtime/rain-ph">台灣雨水 pH 值觀測</a></p>

<hr size="1">
<h3>地下水</h3>
<p class="color-gray--dark">1994年，時任立法委員的趙少康召開記者會，舉發美國無線電公司(Radio Corporation of America，RCA)桃園廠污染地下水情事，並由環保署調查並成立專案小組處理，目前該區仍為污染整治區。
<br>2002年，因應頻傳的地下水污染事件，《土壤及地下水污染整治法》公佈施行<br>
</p>

<p class="mark-content p-size-big">
台灣因為降雨時空分配不均、河川短陡以致攔水困難甚至加上河川污染等情事，地下水是取得水資源必要的手段。
</p>

<p>
地下水的主要由雨水、湖泊、河川等地表水滲入土壤中生成飽和層而來。
<br>在第二次世界大戰前，台灣地下水的開發量並不高，但在引進現代鑿井技術後，地下水使用量即不斷成長。
<br>其實，<span class="p-font-bold">地下水資源有不受蒸發作用、不須昂貴輸水設施即可抽取</span>等優點，所以是理所當然的水資源來源。
<br>但是<span class="p-font-bold">大量的汲取地下水，不只使得地層下陷外，更導致台灣地下水儲量及地下水位急速減少。</span>
</p>
<p>根據經濟部水利署所公佈的資料，從民國77年至103年，台南地區的歷年最大累積地層下陷量已達1.05公尺。
<br>除了過度使用造成的問題外，根據環保署1989到2000年出版的台灣地區環境資訊、統計年報及1998年的環境白皮書，台灣地下水受到污染的情況也相當嚴重。<span class="link" onclick="window.open('http://www.earth.sinica.edu.tw/~chwang/publications/Groundwater%20environmental%20change.2004.pdf')">(《臺灣地下水文環境的變遷》，中央研究院地球科學研究所)</span></p>

<p>受檢驗地下水約有<span class="p-font-bold">四成無法直接作為飲用水，將近一成更不能用作農業灌溉用水。
而再過去十年間，超出飲用水標準重金屬錳、鐵的地下水均高達三至四成，砷的不合格率也超過二成，這些警訊顯示地下水污染的嚴重程度！</span>
</p>

<p>
我們下表整理出目前台南仍舊運作中的<span class="link" onclick="window.open('https://www.google.com.tw/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwiV662c1qjUAhUEabwKHUA3DZ4QFggkMAA&url=http%3A%2F%2Fa0-oaout.epa.gov.tw%2Flaw%2Finc%2FGetFile.ashx%3FFileId%3D11549&usg=AFQjCNG0toZFe5drRkZUoyeqs6wWKnc9Bw')">地下水監測井</span>的檢測結果，並且和地下水污染管制標準中規定的第二類地下水標準<span class="p-font-bold">（非飲用水標準）</span>做比較</p>

<div id="groundWater"></div>
<p class="color-red center">（紅色標點代表超標者）</p>

<!-- <img class="img underground-river" src="../src/img/water/underground_river_rule.png"> -->
<div class="conclusion">
  <p>由上圖我們可以看到，台南的地下水水質狀況真的不太好。</p>
</div>
<br>
<h4>相關報導</h4>
<p>《蘋果日報》<a class="link" href="http://www.appledaily.com.tw/realtimenews/article/new/20170415/1098420/" target="_blank">高鐵雲林段地層下陷達92公分　高鐵局：有減緩</a></p>
<p><a class="link" href="http://www.chuanchiu.com.tw/gustar/front/bin/partprint.phtml?Category=&Part=act0002&Style=1" target="_blank">台灣地下水，你知多少？</a></p>
<hr size="1">
<h3>我們該怎麼辦？</h3>
<p>
雖然台灣很早就成立水資源相關機關、訂立了專門法律，但仍然發生了許多水污染事件
<br>這些事件發生的原因很大是因為沒有確實執行法規規範所致。
<br>而除了公部門機關和相關法律的設立外，水資源保護更需要大眾自覺性的配合。
<br>水資源的保護，需要你我一同的參與、監督和身體力行
<p class="p-size-big mark-content color-blue">水資源是屬於全民的資產，而保護它則是大眾的責任和義務，</p>
希望這篇報導能夠讓你更了解自己生活周遭的水資源，一同加入維護水資源的行列！</p>
