/*
 * Component
 */

.intro-text {
  color: map-get($color, red);
  letter-spacing: map-get($letter-spacing, s) ;
}

/*
 *  color
 */

@each $name, $value in $color {
  .color-#{$name} {
    color: $value;
  }
}

/*
 *  font
 */
.p-font-bold{
  font-weight: bold;
}

.p-font-600{
  font-size: $font-size--base * 1.3;
  font-weight: 600;
}

.letter-spacing-s{
  letter-spacing: map-get($letter-spacing, s);
}

.letter-spacing-m{
  letter-spacing: map-get($letter-spacing, m);
}

.link {
  text-decoration: underline !important;
  &:hover {
    color: map-get($color, green);
  }
}

/*
 *  module
 */
.is_mobile_hidden{
  display: none;

  @media (min-width: map-get($break-point, break-xs) ){
    display: block;
  }
}


/*
 *  Keyframes
 */
@include keyframes(bottomUp){
  from{
    opacity:0;
    bottom: -5px;
  }
  
  to{
    opacity: 1;
    bottom: 0px;
  }
}