<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Visualize-Project-Tainan" content="yes" />

  <!-- google-font -->
  <link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">

  <link href="../src/Semantic-UI/semantic.min.css" rel="stylesheet">

  <title> {{title}} || 用數據看台南</title>
  <link rel="stylesheet" href = "../dist/css/article.css">
</head>
<body>
  <!-- head -->
  <header>
    <nav class="nav col-xs-12">
      <div class="main-header">
        <div class="logo-container" onclick="window.location.href='../index.html'"></div>
        <div class="m-menu-botton">
          <div class="menu-line"></div>
          <div class="menu-line"></div>
          <div class="menu-line"></div>
        </div>

        <h3 class="nav-text">「用數據，探索台南。」</3>
      </div>
      <div class="sub-header">
        <a href="#population"><p>人口</p></a>
        <a href="#water"><p>水源</p></a>
        <a href="#disaster"><p>災害</p></a>
        <a href="#traffic"><p>交通</p></a>
        <a href="#money"><p>財政</p></a>
      </div>
    </nav>
  </header>
  <!-- head -->
  
  <section class="section">
    <h1 class="title">用數據看台南</h1>
    <p class="sub-title">- Let data speak. -</p>
    {{> logo_animate}}

    <section class="article">
      <p>大家好，我們是用數據看台灣。
      <br>我們是一群即將畢業於成功大學的學生團隊。</p>

      <p>兩年前，台南登革熱爆發，意外的我們成立於台南。
      <br>兩年內，我們致力於把政府已經公開不為人知的資料轉換為人們看得懂的資訊圖表，為社會進步盡一份心力。
      <br>兩年後，這是我們於畢業前夕做的最後一個計畫了。</p>

      <p class="color-green p-font-600"><strong> 5/22 - 6/22 || 用數據看台南</strong></p>
    </section>

    <section class="article">
      <h3>這是一場為期一個月的資訊「號召」</h3>  
      
      <p>用數據看台南是一場為期一個月的資訊號召，致力於讓人們「更加認識台南」。
      <br>我們將利用台南市政府開放資料，每週發布一個主題並交予大家一個小小的任務，讓人們用資料的角度重新解讀台南。</p>

      <p>我們把這次的每篇主題稱作一則「報導」。
      <br>每一篇的報導就是我們「解讀圖表」的過程。</p>

      <p>這次的作品都有一個重要的共通性，那就是「開放資料」。
      <br>這代表著資源共享、大家都拿得到，並且所傳達的的觀點都是「客觀資料的觀點」。也就是那些比較不屬於主流、不談勵志、創新，對於自身未來、人生方面或許比較無聊的事情 lol...
      <br>但是其實，那卻是極為重要的資料。因為這些現象已直接與我們的生活息息相關，像是這次的五大主題，人口、水源、災害、交通、財政，那些經常發生，但可能不常注意的事件。身為台南的一份子，我們更應該直接地去認識他們。</p>

      <p>我們真心的希望身處在同一個社會的我們，能夠更加關心自己周遭的社會變化。
      <br>這是用數據看台南的本意，更是用數據看台灣的初衷。</p>

      <p class="mark-content border-green">我們相信「資料都有其價值」，開放資料亦是如此。
      <br>我們使用開放資料，實際上也在測試開放資料的極限。</p>

      <p class="mark-content border-orange">
      在不夠完美的環境中，若是能把其「價值」展現出來，
      <br>會證明其實這是一件非常非常有意義的一件事情。</p>
    </section>
    

  </section>

  {{> footer}}
</body>

<!-- semantic, d3, jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src = "../src/Semantic-UI/semantic.min.js"></script>

<!-- default Js -->
<script type="text/javascript" src = "../dist/js/partial/default.js"></script>

</html>